/* General */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #011F3F;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

/* Title */
h1 {
    color: #FEF2BF;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin: 2em 0;
}

/* Boxes */
.container {
    display: block;
    width: auto;
}

.btn {
    border: .5em solid black;
    border-radius: 20%;
    display: inline-block;
    width: 225px;
    height: 225px;
    margin: 0 2em 2em 2em;
}

.row {
    clear: both;
}

.green {
    background-color: green;

}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;

}

.blue {
    background-color: blue;
}

/* Javascript */
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}